<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.inputs do %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
    <%= f.input :email %>
	<%= f.input :user_type %>
	<%= f.input :school_affiliation %>

    <%= f.input :password, :hint => "(leave blank if you don't want to change it)" %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password, :hint => "(we need your current password to confirm your changes)" %>

  <% end %>
  <%= f.buttons %>
<% end %>


<h4>Cancel my account</h4>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
