<%= semantic_form_for([@library,@floor], :html => {:multipart => true}) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :call_numbers, :as => :check_boxes %>
    <% unless f.object.floor_map.blank? %>
      <h4>Current Map</h4>
      <%= image_tag(f.object.floor_map.url) %>
    <% end %>
    <%= f.input :floor_map, :as => :file, :label => 'Upload a Floor Map' %>
  <% end %>
  <%= f.actions %>
<% end %>
