<%= semantic_form_for(@reservable_asset_type, :html => {:multipart => true}) do |f| %>
  <%= f.inputs do %>
    <%= f.input :library %>
    <%= f.input :name %>
    <%= f.input :min_reservation_time, :label => "Minimum reservation time in days" %>
    <%= f.input :max_reservation_time, :label => "Maximum reservation time in days" %>
    <%= f.input :max_concurrent_users %>
    <%= f.input :has_code, :label => "Does this asset have an Access Code?" %>
    <%= f.input :welcome_message %>
    <%= f.input :expiration_extension_time, :label => "Expiration extension time in days" %>
    <%= f.input :has_bulletin_board %>
	<%= f.input :user_types %>

  	<% unless f.object.photo.blank? %>
      <h4>Current Photo</h4>
      <%= image_tag(f.object.photo.url) %>
    <% end %>
    <%= f.input :photo, :as => :file, :label => 'Upload a Photo' %>
  <% end %>
  <%= f.buttons %>
<% end %>
