<%= semantic_form_for(@reservable_asset, :html => {:multipart => true}) do |f| %>
  <%= f.inputs do %>
	<% unless @library.nil? %>
      <%= f.input :floor, :as => :select, :collection => @library.floors %>
      <%= f.input :reservable_asset_type, :as => :select, :collection => @library.reservable_asset_types %>
	<% else %>
	  <%= f.input :floor %>
      <%= f.input :reservable_asset_type %>
	<% end %>
	<%= f.input :name %>
	<%= f.input :description %>
    <%= f.input :min_reservation_time, :label => "Minimum reservation time in days" %>
    <%= f.input :max_reservation_time, :label => "Maximum reservation time in days" %>
    <%= f.input :max_concurrent_users %>
    <%= f.input :location %>
    <%= f.input :access_code %>
	<%= f.input :notes %>

  	<% unless f.object.photo.blank? %>
      <h4>Current Photo</h4>
      <%= image_tag(f.object.photo.url) %>
    <% end %>
    <%= f.input :photo, :as => :file, :label => 'Upload a Photo' %>
  <% end %>
  <%= f.buttons %>
<% end %>