<script type="text/javascript">
       bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<h2><%= "#{@reservation_notice.reservable_asset_type.library.name} - #{@reservation_notice.reservable_asset_type.name} - #{@reservation_notice.status.name}" %></h2>
<%= semantic_form_for(@reservation_notice) do |f| %>
  <%= f.inputs do %>
  <%= f.input :subject %>
	<%= f.input :message %>
	<%= f.input :reply_to %>
  <% end %>
  <%= f.actions %>
<% end %>
