<%= semantic_form_for(@reservation) do |f| %>
  <%= f.inputs do %>
	Note: Minimum reservation time is <%= @min_time %> days and maximum reservation time is <%= @max_time %>.
	<br /><br />  
	<%= f.input :reservable_asset_id, :as => :hidden, :value => @reservable_asset %>
	Chosen Asset: <%= ReservableAsset.find(@reservable_asset).reservable_asset_type.name %> <%= ReservableAsset.find(@reservable_asset).name %>
	<br /><br />
	<% if current_user.admin? %>
	  <% if @reservation.start_date.nil? %>
	    <%= f.input :start_date, :as => :string, :input_html => { :value => Date.today.strftime("%m/%d/%Y") } %><br />
	
	    <script type="text/javascript" language="javascript">
	   	  jQuery(document).ready(function(){
		    jQuery("#reservation_start_date").datepicker({ minDate: 0 });
	  	  })
	    </script>
	  <% else %>
	    <%= f.input :start_date, :as => :string, :input_html => { :value => @reservation.start_date.strftime("%m/%d/%Y") } %><br />
	
	    <script type="text/javascript" language="javascript">
	   	  jQuery(document).ready(function(){
		    jQuery("#reservation_start_date").datepicker({ minDate: 0 });
	  	  })
	    </script>
	  <% end %>
    <% else %>
	  <% if @reservation.start_date.nil? %>
	    <%= f.input :start_date, :as => :string, :input_html => { :value => Date.today.strftime("%m/%d/%Y"), :disabled => true } %>
        <%= f.input :start_date, :as => :hidden, :input_html => { :value => Date.today.strftime("%m/%d/%Y") } %><br />
	  <% else %>
		<%= f.input :start_date, :as => :string, :input_html => { :value => @reservation.start_date.strftime("%m/%d/%Y"), :disabled => true } %>
        <%= f.input :start_date, :as => :hidden, :input_html => { :value => @reservation.start_date.strftime("%m/%d/%Y") } %><br />
	  <% end %>
	<% end %>	
	
	
	<br />
	<% if @reservation.end_date.nil? %>
	  <%= f.input :end_date, :as => :string %> 
	<% else %>
	  <%= f.input :end_date, :as => :string, :input_html => { :value => @reservation.end_date.strftime("%m/%d/%Y")} %> 
	<% end %>
	<br />
	<% if current_user.admin? %>
      <%= f.input :user %>
      <%= f.input :status, :include_blank => false %>
	<% end %>
  <% end %>
  
	You must agree to the library's Terms of Service before you can make your reservation. <%= raw ReservableAsset.find(@reservable_asset).reservable_asset_type.library.tos %>
	<br /><br />

  <%= f.input :tos, :as => :radio, :collection => ["Yes", "No"], :label => "Agree to Terms of Service?", :input_html => { :name => "tos" } %>

  <span id="reserveButton" style="display:none">
    <%= f.buttons %>
  </span>
  
<% end %>

<script type="text/javascript" language="javascript">
	jQuery(document).ready(function(){
		jQuery("#reservation_end_date").datepicker({ minDate: "+<%= @min_time %>D", maxDate: "+<%= @max_time %>D" });
	})
</script>

<script>
	$('#reservation_tos_input').change(function() {
 		if ($('input:radio[name=tos]:checked').val() === $('#reservation_tos_yes').val())
		{
		  $('#reserveButton').show();	
		}
		else
		{
		  $('#reserveButton').hide();	
		}
	})
</script>