<%
   if %w(new create).include? action_name
      target = [@reservable_asset.reservable_asset_type, @reservable_asset]
    else
      target = @reservable_asset
    end
%>

<%= semantic_form_for(target, :html => {:multipart => true}) do |f| %>
  <%= f.inputs do %>
	<% unless @library.nil? %>
      <%= f.input :floor, :as => :select, :collection => @library.floors %>
      <%= f.input :reservable_asset_type, :as => :hidden %>
	<% else %>
	  <%= f.input :floor %>
      <%= f.input :reservable_asset_type_id, :as => :hidden %>
	<% end %>
	<%= f.input :name %>
	<%= f.input :access_code, :label => 'Access Code', :hint => "Access Code is needed to reserve this asset" %>
	<%= f.input :description %>
    <%= f.input :min_reservation_time, :label => "Minimum reservation time in days" %>
    <%= f.input :max_reservation_time, :label => "Maximum reservation time in days" %>
    <%= f.input :max_concurrent_users %>
	<%= f.input :slots, :hint => "If max concurrent users is 3 then Slots will be 'A,B,C'" %>
    <%= f.input :location %>
	<%= f.input :notes %>

  	<% unless f.object.photo.blank? %>
      <h4>Current Photo</h4>
      <%= image_tag(f.object.photo.url) %>
    <% end %>
    <%= f.input :photo, :as => :file, :label => 'Upload a Photo' %>
  <% end %>
  <%= f.actions %>
<% end %>
