<%= semantic_form_for(@reservable_asset, :html => {:multipart => true}, :remote => request.xhr?) do |f| %>
  <%= f.inputs do %>
    <%= f.input :floor %>
    <%= f.input :reservable_asset_type %>
	<%= f.input :name %>
	<%= f.input :description %>
    <%= f.input :min_reservation_time, :label => "Minimum reservation time in days" %>
    <%= f.input :max_reservation_time, :label => "Maximum reservation time in days" %>
    <%= f.input :max_concurrent_users %>
    <%= f.input :reservation_time_increment, :label => "Reservation time increment in days" %>
    <%= f.input :location, :label => "Describe the location of this asset" %>
    <%= f.input :access_code %>

  	<% unless f.object.photo.blank? %>
      <h3>Current Photo</h3>
      <%= image_tag(f.object.photo.url) %>
    <% end %>
    <%= f.input :photo, :as => :file, :label => 'Upload a Photo' %>
    <%= f.input :x1, :as => :hidden %>
    <%= f.input :y1, :as => :hidden %>
    <%= f.input :x2, :as => :hidden %>
    <%= f.input :y2, :as => :hidden %>
  <% end %>
  <%= f.buttons %>
<% end %>
