<%= semantic_form_for(@user) do |f| %>
  <%= f.inputs do %>
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :school_affiliation %>
	<% if current_user.admin? %>
	  <%= f.input :email %>
    <%= f.input :password, :required => false, :input_html => {:autocomplete => 'off'}, :hint => 'Leave password blank for no change' %>
	  <%= f.input :user_type %>
	<% end %>
	<%  if current_user.admin? && @user != current_user %>
	  <span id='admin_box'><%= f.input :admin %></span>
	<% end %>
  <% end %>
  <%= f.actions %>
<% end %>
