<div class="reservation_notice show-object">
  <% content_for :header do %><%= @reservation_notice.status %><% end %>
  <dl>
    <dt>Status:</dt>
    <dd><%= @reservation_notice.status %></dd>
    <dt>Subject:</dt>
    <dd><%= @reservation_notice.subject %></dd>
	<dt>Message:</dt>
    <dd><%= raw @reservation_notice.message %></dd>
	<dt>Reply-To:</dt>
    <dd><%= @reservation_notice.reply_to %></dd>
  </dl>
</div>