<h2>Forgot Your Password or First Time User?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Send me set/reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>