<div class="moderator_flag line" id="moderator_flag-<%= moderator_flag.id %>">
  <%= link_to("Flag #{moderator_flag.id}", moderator_flag) %>
  <p>
    created on <%= moderator_flag.created_at %> <br /><br />
	<%= moderator_flag.reason %>
	
  </p>

  <% if current_user.admin? %>
    | <%= link_to('Edit', edit_moderator_flag_path(moderator_flag), :class => "action-edit") %>
    | <%= link_to('Delete', moderator_flag_path(moderator_flag), :confirm => "Are you sure you want to delete this item? This action cannot be undone.", :method => :delete, :id => "delete-#{moderator_flag.id}", :class => "action-delete") %>
  <% end %>
</div>
