<li class="post line" id="post-<%= post.id %>">
  <p>
    <%= link_to("Post #{post.id}", post) %><br />
    created on <%= post.created_at %> <br />
	<%= post.message %>

  <% if can?(:update, post) or can?(:destroy, post) %>
    <ul class="actions">
      <li><%= link_to('Flag', new_moderator_flag_path(:post => post)) %></li>
        <% if can? :update, post %>
          <li><%= link_to('Edit', edit_post_path(post), :class => "action-edit") %></li>
        <% end %>
        <% if can? :destroy, post %>
          <li><%= link_to('Delete', post_path(post), :confirm => "Are you sure you want to delete this item? This action cannot be undone.", :method => :delete, :id => "delete-#{post.id}", :class => "action-delete") %></li>
        <% end %>
      <% end %>
    </ul>

  </p>
</li>
