<div class="reservable_asset_type line" id="reservable_asset_type-<%= reservable_asset_type.id %>">

  <h3 class="collapsable description"><%= reservable_asset_type.name %> - <%= link_to("Add New #{reservable_asset_type.name}", new_reservable_asset_path(:library => reservable_asset_type.library)) %></h3>
  <ul class="description description-target">
    <% unless reservable_asset_type.reservable_assets.blank? %>
      <%= render :partial => 'shared/lines/reservable_asset', :collection => reservable_asset_type.reservable_assets %>
    <% else %>
      <li class="empty">No reservable assets yet.</li>
    <% end %>

  </ul>

  	<% if current_user.admin? %>
    <ul class="actions">
      <li><%= link_to('Edit', edit_reservable_asset_type_path(reservable_asset_type), :class => "action-edit") %></li>
      <li><%= link_to('Delete', reservable_asset_type_path(reservable_asset_type), :confirm => "Are you sure?", :method => :delete, :id => "delete-#{reservable_asset_type.id}", :class => "action-delete") %></li>
    </ul>
	  
    <% end %>
</div>
