<li class="reservation line" id="reservation-<%= reservation.id %>">
  ID: <%= link_to("#{reservation.id}", (reservation.allow_edit?(current_user) || current_user.try(:admin?) ? edit_reservation_path(reservation) : reservation) ) %>,
  User: <%= link_to("#{[reservation.user.first_name.to_s, reservation.user.last_name.to_s].join(' ')} (#{reservation.user.email.to_s})", reservation.user) %>,
  <%= "from #{reservation.start_date} to #{reservation.end_date}" %>
  <ul class="actions">
    <% if current_user.try(:admin?) || reservation.allow_edit?(current_user) %>
      <% if reservation.status_id == @statuses['Pending'] && current_user.try(:admin?) %>
        <li><%= link_to('Approve', approve_reservation_path(reservation), :class => "action-approve", :status_id => @statuses['Approved'], :approve => true, :remote => true, :method => :put) %></li>
      <% end %>

    <li><%= link_to(reservation.deleted_at ? 'Delete' : 'Clear', reservation_path(reservation), :confirm => "Are you sure you want to #{reservation.deleted_at ? 'delete' : 'Clear'} this reservation?", :method => :delete, :id => "delete-#{reservation.id}", :class => "action-delete", :remote => true) %></li>
    <% end %>
  </ul>
</li>

<!--
  </ul>
  <dl>
	<% unless !reservation.approved? %>
	  <dt>Welcome Message:</dt>
	  <dd><%= reservation.reservable_asset.reservable_asset_type.welcome_message %></dd>
	  <br />
	<% end %>
	<dt><%= reservation.reservable_asset.reservable_asset_type.name %> Name:</dt>
    <dd><%= link_to "#{reservation.reservable_asset.name} #{reservation.slot}", reservable_asset_path(reservation.reservable_asset) %></dd>
    <dt>User:</dt>
    <dd><%= link_to(reservation.user.email, reservation.user ) %></dd>
	<dt>Start Date:</dt>
    <dd><%= reservation.start_date %></dd>
	<dt>End Date:</dt>
    <dd><%= reservation.end_date %></dd>
    <dt>Reservation Status</dt>
    <dd><%= reservation.status.name %></dd>
	<% unless (reservation.reservable_asset.access_code.nil? || reservation.reservable_asset.access_code.blank?) || !reservation.approved? %>
      <dt><%= reservation.reservable_asset.reservable_asset_type.name %> Access Code:</dt>
        <dd><%= reservation.reservable_asset.access_code %></dd>
    <% end %>
  </dl>

	<% unless reservation.reservable_asset.photo.blank? %>
      <h3>Photo</h3>
		<%= image_tag(reservation.reservable_asset.photo.url) %>
    <% end %>

	<% unless reservation.reservable_asset.bulletin_board.nil? || !reservation.approved? %>
      <h3>Bulletin Board</h3>
      <%= link_to "Access Board", bulletin_board_path(reservation.reservable_asset.bulletin_board) %>
    <% end %>
-->
