<div class="reservation line" id="reservation-<%= reservation.id %>">
  <h3><%= link_to("Reservation ID-#{reservation.id}", reservation ) %></h3>

  <ul class="actions">
  <% if reservation.expiring? %>
    <li><%= link_to('Renew', edit_reservation_path(reservation, :renew => true)) %></li>
  <% end %>
  
  <% if current_user.admin? || reservation.allow_edit?(current_user) %>
    <li><%= link_to('Edit', edit_reservation_path(reservation), :class => "action-edit") %></li>
  <% end %>
	<li><%= link_to('Delete', reservation_path(reservation), :confirm => "Are you sure you want to delete this item? This action cannot be undone.", :method => :delete, :id => "delete-#{reservation.id}", :class => "action-delete") %></li>
  </ul>
  <dl>
	<% unless !reservation.approved? %>
	  <dt>Welcome Message:</dt>
	  <dd><%= reservation.reservable_asset.reservable_asset_type.welcome_message %></dd>
	  <br />
	<% end %>
	<dt><%= reservation.reservable_asset.reservable_asset_type.name %> Name:</dt>
    <dd><%= link_to "#{reservation.reservable_asset.name} #{reservation.slot}", reservable_asset_path(reservation.reservable_asset) %></dd>
    <dt>User:</dt>
    <dd><%= link_to(reservation.user.email, reservation.user ) %></dd>
	<dt>Start Date:</dt>
    <dd><%= reservation.start_date %></dd>
	<dt>End Date:</dt>
    <dd><%= reservation.end_date %></dd>
    <dt>Reservation Status</dt>
    <dd><%= reservation.status.name %></dd>
	<% unless (reservation.reservable_asset.access_code.nil? || reservation.reservable_asset.access_code.blank?) || !reservation.approved? %>
      <dt><%= reservation.reservable_asset.reservable_asset_type.name %> Access Code:</dt>
        <dd><%= reservation.reservable_asset.access_code %></dd>
    <% end %>
  </dl>

	<% unless reservation.reservable_asset.photo.blank? %>
      <h3>Photo</h3>
		<%= image_tag(reservation.reservable_asset.photo.url) %>
    <% end %>

	<% unless reservation.reservable_asset.bulletin_board.nil? || !reservation.approved? %>
      <h3>Bulletin Board</h3>
      <%= link_to "Access Board", bulletin_board_path(reservation.reservable_asset.bulletin_board) %>
    <% end %>
  
</div>
