<% content_for :header do %>Libraries<% end %>
<div>
  <p>
    Welcome to Inscriptio! <br />
    Choose a library below to view and reserve assets. <br />
  </p>
  <p>
    <% unless @libraries.blank? %>
	  Assets include:
	  <% @libraries.each do |library| %>
	    <p>
		<%= library.name %>: 
		
	  	  <% library.reservable_asset_types.each do |asset| %>
		    <%= asset.name %> <%= current_user.try(:admin?) ? "(ID #{asset.id})" : "" %>
			<% if !(library.reservable_asset_types.last == asset) %>
			  <%= ", " %>
			<% end %>
		  <% end %>
	    
		</p>
	  <% end %>	
   	<% end %> 	
   </p>
</div>

<div class="libraries collection-list">
  <% unless @libraries.blank? %>
    <%= render :partial => 'shared/lines/library', :collection => @libraries %>
  <% else %>
    <h2>No libraries yet.</h2>
  <% end %>
  <% if current_user.admin? %>
    <h2 class="action-button"><%= link_to('New Library', new_library_path) %></h2>
  <% end %>
</div>
