<div class="library-details" id="library-details-<%= @library.id %>">
  	<div id="heading">
      <h1><%= link_to(@library.name, @library.url, :class=> 'external_link', :target => "_blank" ) %></h1>
	</div>
	
	<div id="content-left">
	  <h2 class="collapsable description">About</h2>
	  <div class="description description-target">
	    <%= @library.description %>
	  </div>
	
	  <h2 class="collapsable address">Address</h2>
	  <div class="address-target vcard">
	    <%= render :partial => 'shared/microformats/adr', :object => @library %>
	  </div>
	
	  <h2 class="collapsable contact_info">Contact</h2>
	  <div class="contact_info contact_info-target">
	    <%= @library.contact_info %>
	  </div>
	</div>
	
	<div id="content-right">  
	  <h2>Floors</h2>
	  <% unless @library.floors.blank? %>
	    <%= render :partial => 'shared/lines/floor', :collection => @library.floors %>
	  <% else %>
	    <h2>No floors yet.</h2>
	  <% end %>
	  <!-- If authorized to edit -->
	  <p><%= link_to('New Floor', new_library_floor_path(@library)) %></p>
	
	  <h2>Subject Areas</h2>
	  
	  <% unless @subject_areas.blank? %>
	    <%= render :partial => 'shared/lines/subject_area', :collection => @subject_areas %>
	  <% else %>
	    <h2>No subject areas yet.</h2>
	  <% end %>
	  
	  <!-- If authorized to edit -->
	  <p><%= link_to('New Subject Area', new_subject_area_path) %></p>
	</div>
</div>