<div class="call_number show-object">
  <h1><%= @call_number %></h1>
  <dl>
	<dt>Long Name:</dt>
    <dd><%= @call_number.long_name %></dd>
    <dt>Description:</dt>
    <dd><%= @call_number.description %></dd>
    <dt>Floors:</dt>
    <dd><%= @call_number.floors.join(', ') %></dd>
    <dt>Subject Area:</dt>
    <dd><%= @call_number.subject_area %></dd>
  </dl>
</div>
