<div class="call_number show-object">
  <% content_for :header do %><%= @call_number %><% end %>
  <dl>
	<dt>Long Name:</dt>
    <dd><%= @call_number.long_name %></dd>
    <dt>Description:</dt>
    <dd><%= @call_number.description %></dd>
    <dt>Floors:</dt>
    <dd><%= @call_number.floors.join(', ') %></dd>
    <dt>Subject Area:</dt>
    <dd><%= @call_number.subject_area %></dd>
  </dl>
</div>
