<div class="reservation show-object">
  	<div id="heading">
      <% content_for :header do %><%= @reservation.reservable_asset.reservable_asset_type.name %> on <%= link_to @reservation.reservable_asset.floor.name, library_floor_path(@reservation.reservable_asset.floor.library,@reservation.reservable_asset.floor) %><% end %>
	</div>
  <dl>
	<dt><%= @reservation.reservable_asset.reservable_asset_type.name %> Name:</dt>
    <dd><%= link_to @reservation.reservable_asset.name, reservable_asset_path(@reservation.reservable_asset) %></dd>
    <dt>User:</dt>
    <dd><%= @reservation.user.email %></dd>
	<dt>Start Date:</dt>
    <dd><%= @reservation.start_date.to_date() %></dd>
	<dt>End Date:</dt>
    <dd><%= @reservation.end_date.to_date() %></dd>
    <dt>Reservation Status</dt>
    <dd><%= @reservation.status.name %></dd>
  </dl>

    <% if current_user.admin? || @reservation.allow_edit?(current_user) %>
      <%= link_to('Edit', edit_reservation_path(@reservation)) %>
	<% end %>

    <h2>Photo</h2>
	<% unless @reservation.reservable_asset.photo.blank? %>
      <%= image_tag(@reservation.reservable_asset.photo.url) %>
    <% end %>

	<% unless @reservation.reservable_asset.bulletin_board.nil? || !@reservation.approved? %>
      <h2>Bulletin Board</h2>
      <%= link_to "Access Board", bulletin_board_path(@reservation.reservable_asset.bulletin_board) %>
    <% end %>
</div>
