<div class="floor show-object" id="floor-details-<%= @floor.id %>">
  	<div id="heading">
      <h1><%= @floor %> in <%= link_to @floor.library.name, @floor.library %></h1>
	</div>
	
	<div id="content-left">
	  <h2 class="collapsable description">Assets</h2>
	  <div class="description description-target">
	  <% unless @floor.reservable_assets.blank? %>
		<%= render :partial => 'shared/lines/reservable_asset', :collection => @floor.reservable_assets %>
	  <% else %>
	    <h3>No reservable assets yet.</h3>
	  <% end %>
	  <% if current_user.admin? %>
	    <p><%= link_to('New Reservable Asset', new_reservable_asset_path) %></p>
	  <% end %>
	  </div>
	  
	  <h2 class="collapsable description">Subject Areas</h2>
	  <% unless @floor.subject_areas.blank? %>
	    <%= render :partial => 'shared/lines/subject_area', :collection => @floor.subject_areas %>
	  <% else %>
	    <h3>No subject areas yet.</h3>
	  <% end %>
	  <% if current_user.admin? %>
	    <p><%= link_to('New Subject Area', new_subject_area_path) %></p>
	  <% end %>
	
	  <h2 class="collapsable description">Call Numbers</h2>
	  <% unless @floor.call_numbers.blank? %>
	    <%= render :partial => 'shared/lines/call_number', :collection => @floor.call_numbers %>
	  <% else %>
	    <h3>No call numbers yet.</h3>
	  <% end %>
	  <% if current_user.admin? %>
	    <p><%= link_to('New Call Number', new_call_number_path) %></p>
	  <% end %>
	
	  <h2 class="collapsable description">All <%= @floor.library %> Floors</h2>
	  <% unless @floor.library.floors.blank? %>
	    <%= render :partial => 'shared/lines/floor', :collection => @floor.library.floors %>
	  <% else %>
	    <h3>No floors yet.</h3>
	  <% end %>
	  <% if current_user.admin? %>
	    <p><%= link_to('New Floor', new_library_floor_path(@floor.library)) %></p>
	  <% end %>
	</div>
	
	<div id="content-right">  
	  <h2>Map</h2>
	  <% unless @floor.floor_map.blank? %>
	<%= javascript_include_tag('excanvas.compiled') %>
	<%= javascript_include_tag('jquery.drag.min') %>
	<%= javascript_include_tag('jquery.bt') %>
	<%= stylesheet_link_tag 'map' %>
	<% if current_user.admin? %>
		<%= javascript_include_tag('map_admin') %>
	<% else %>
		<%= javascript_include_tag('map') %>
		<%= stylesheet_link_tag('map_user') %>
	<% end %>
	<script type="text/javascript">
		//This is a stub object to be replaced with the real assets
	var assets = $.parseJSON('<%= @floor.reservable_assets.to_json.html_safe %>');
		floorMap.assets = {
			'1': {'name': 'Carrel 1', 'location': [184, 13, 207, 36], 'slotsLeft': 1},
			'2': {'name': 'Carrel 2', 'location': [184, 40, 207, 63], 'slotsLeft': 0}, 
			'3': {'name': 'Carrel 3', 'location': []}
		};
	</script>
	<!-- <div id="map" style="background-image: url('<%= image_path(@floor.floor_map.url) %>');"></div> -->
	<%= image_tag(image_path(@floor.floor_map.url), :id => 'map') %>
      <% end %>
	  
	</div>
</div>
