<% content_for :header do %>Reservable Assets<% end %>
<div class="reservable_asset_types collection-list">
  <% unless @libraries.blank? %>
    <% if current_user.admin? %>
      <h2 class="action-new-asset-type"><%= link_to('New Reservable Asset Type', new_reservable_asset_type_path) %></h2>
    <% end %>
	<% @libraries.each do |library| %>
	  <h2><%= library.name %></h2>
	  <% if current_user.admin? %>
	    <h3 class="collapsable email_all">Email All in <%= library %></h3>
	    <div class="email_all email_all-target">
		  <p>
			<% form_tag new_email_path, :method => 'get' do %>
			  <%= text_field_tag :subject %><br />
			  <%= text_area_tag :content, nil, :rows => 10, :cols => 35 %><br />
			  <%= hidden_field_tag :library, library.id %>  
			  <%= submit_tag "Send", :name => nil %>
			<% end %>
	      </p>
	    </div>
      <% end %>
      <% unless library.reservable_asset_types.blank? %>
        <h3>Assets</h3>
        <%= render :partial => 'shared/lines/reservable_asset_type', :collection => library.reservable_asset_types %>
      <% else %>
        <h3>No reservable asset types for this library yet.</h3>
      <% end %>
    <% end %>
	
  <% end %>
</div>

<h2 class="collapsable asset_upload">Batch Upload</h2>

<div class="asset_upload asset_upload-target">

    <h3>Import Assets via CSV</h3>

    <p>
      Use the form below to import assets via a CSV (comma separated value) file. All 11 fields must be present even if they are left blank.
      Do not use column headings or quotes around text in any field. Each row will be separated by a new line or carriage return.
    </p>
    <p>
      These are the fields to be populated with the assumption that you are using a spreadsheet application like Excel:
	  <ul>
		<li>(Column A) floor id</li>
		<li>(Column B) asset type id</li>
		<li>(Column C) name</li>
		<li>(Column D) description</li>
		<li>(Column E) location</li>
		<li>(Column F) minimum reservation time (in days)*</li>
		<li>(Column G) maximum reservation time (in days)*</li>
		<li>(Column H) maximum concurrent users*</li>
		<li>(Column I) slots*</li>
		<li>(Column J) access code</li>
		<li>(Column K) notes</li>
	  </ul>
    </p>
	<p>
	  *If these fields are left blank, the values will be inherited from those indicated on the reservable asset type.
	</p>
	<p>
	  Please note that the 'slots' field will depend on the count of max users. For example, if an asset has max concurrent users of 4 then in column I you will put A,B,C,D. If the max concurrent users is 3 you will put A,B,C, if it is 1 then you can either leave it blank or put A.
	</p>
    <p>
	  e.g. floor id, asset type id, name, description, location, min reservation time, max reservation time, max concurrent users, slots, access code, notes
    </p>

  <%= form_tag import_reservable_assets_path, :multipart => true do -%>
    <%= file_field 'upload', 'datafile' %></p>
	<%= submit_tag "Upload", :disable_with => 'Uploading...' %>
  <% end -%>
</div>	


