<div class="reservable_asset_type show-object">
      <% content_for :header do %><%= @reservable_asset_type.name %> in <%= link_to @reservable_asset_type.library.name, @reservable_asset_type.library %><% end %>
  <dl>
    <dt>Minimum Reservation Time:</dt>
    <dd><%= @reservable_asset_type.min_reservation_time %></dd>
	<dt>Maximum Reservation Time:</dt>
    <dd><%= @reservable_asset_type.max_reservation_time %></dd>
	<dt>Maximum Concurrent Users:</dt>
    <dd><%= @reservable_asset_type.max_concurrent_users %></dd>
	<dt>Reservation Time Increment:</dt>
    <dd><%= @reservable_asset_type.reservation_time_increment %></dd>
	<dt>Has code:</dt>
    <dd><%= @reservable_asset_type.has_code %></dd>
    <dt>Welcome Message:</dt>
    <dd><%= @reservable_asset_type.welcome_message %></dd>
	<dt>Expiration Extension Time:</dt>
    <dd><%= @reservable_asset_type.expiration_extension_time %></dd>
	<dt>Requires Moderation:</dt>
    <dd><%= @reservable_asset_type.requires_moderation %></dd>
	<dt>Moderation Held Message:</dt>
    <dd><%= @reservable_asset_type.moderation_held_message %></dd>
	<dt>Has Bulletin Board:</dt>
    <dd><%= @reservable_asset_type.has_bulletin_board %></dd>
  </dl>
	
	<% unless @reservable_asset_type.photo.blank? %>
	  <h2>Photo</h2>
      <%= image_tag(@reservable_asset_type.photo.url) %>
    <% end %>
</div>
