<div class="moderator_flag show-object">
  <h1>Flag for <%= @moderator_flag.post.id %></h1>
  <dl>
    <dt>Flagged By:</dt>
    <dd><%= @moderator_flag.user.email %></dd>
	<dt>Creation Time:</dt>
    <dd><%= @moderator_flag.created_at %></dd>
	<dt>Reason:</dt>
    <dd><%= @moderator_flag.reason %></dd>
    
  </dl>

  <h2 class="action-button"><%= link_to('New Post', new_post_path) %></h2>
</div>
