<div class="reservation_expiration_notice show-object">
  <h1><%= @reservation_expiration_notice.notice_type %></h1>
  <dl>
    <dt>Days Before Expiration:</dt>
    <dd><%= @reservation_expiration_notice.days_before_expiration %></dd>
    <dt>Subject:</dt>
    <dd><%= @reservation_expiration_notice.subject %></dd>
	<dt>Message:</dt>
    <dd><%= @reservation_expiration_notice.message %></dd>
	<dt>Reply-To:</dt>
    <dd><%= @reservation_expiration_notice.reply_to %></dd>
  </dl>
</div>