<div class="post show-object">
  <% content_for :header do %>Post for <%= @post.bulletin_board.reservable_asset.name %><% end %>
  <dl>
    <dt>Posted By:</dt>
	<% if can? :update, @post.user %>
	  <dd><%= link_to(@post.user.email, @post.user) %></dd>
	<% else %>
      <dd><%= @post.user.id %></dd>
    <% end %>
	<dt>Creation Time:</dt>
    <dd><%= @post.created_at %></dd>
	<dt>Message:</dt>
    <dd><%= @post.message %></dd>
	<% if can? :manage, @post %>
    <dt>Moderator Flags:</dt>
    <% @post.moderator_flags.each do |mf| %>
	  <dd><%= mf.reason %>
      <% if can? :destroy, mf %>
      <ul class="actions">
        <li><%= link_to('Delete', moderator_flag_path(mf), :confirm => "Are you sure you want to delete this item? This action cannot be undone.", :method => :delete, :id => "delete-#{mf.id}", :class => "action-delete")%></li>
      </ul>
      <% end # if %>
    </dd>
  <% end # each %>
  <% end # if %>
  </dl>

<%= link_to "Bulletin Board", bulletin_board_path(@post.bulletin_board) %>
</div>
