<% content_for :header do %>Reporting and Stats<% end %>
<div>
  <% @reports.keys.sort.each do |action| %>
  <h2><%= @reports[action][:header] %></h2>
  <p><%= @reports[action][:description] %></p>
  <%= semantic_form_for action, :url => url_for(:action => action, :format => :csv), :method => :get do |f|%>
    <%= f.inputs do %>
      <%= f.input :start_horizon, :label => "Start date:", :as => :string, :required => false, :input_html => {:class => 'horizon', :size => 11, :maxlength => 10, :placeholder => 'MM/DD/YYYY'} %>
      <%= f.input :end_horizon, :label => "End date:", :as => :string, :required => false, :input_html => {:class => 'horizon', :size => 11, :maxlength => 10, :placeholder => 'MM/DD/YYYY'} %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :label => "Download Report" %>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
$(function () {$('.horizon').datepicker();})
</script>
</div>
