<!DOCTYPE html>
<html>
  <head>
    <title>Inscriptio</title>
    <%= stylesheet_link_tag 'styles', 'formtastic', 'formtastic_changes', 'custom-theme/jquery-ui-1.8.14.custom' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui-1.8.14.custom.min.js', 'rails.js', 'application.js', 'nicEdit' %>
    <%= csrf_meta_tag %>
  </head>
  <body <%= yield :body %>>
    <div id="header">
      <div id="utility">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
		<br /><br />
		<% form_tag search_index_path, :method => 'get' do %>
		  <%= text_field_tag :search, params[:search] %>
		  <%= submit_tag "Search", :name => nil %>
		<% end %>
      </div>

      <div id="logo">
        <span>
          <a href="/" title="Inscriptio" id="home-logo">Inscriptio</a>
        </span>
      </div>
    </div>

    <div id="container">
	  <p id="breadcrumb">
	    <%= breadcrumbs.render(:format => :inline, :separator => '-') %>
	  </p>
      <h1 id="content-header">
        <% if content_for? :header %>
         <%= yield :header %>
        <% else %>
          Inscriptio
        <% end %>
      </h1>
	  
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>

      <% if content_for? :content_left %>
		<div id="content-left">  
          <%= yield :content_left %>
	    </div>	
      <% end %>

      <div id="content-right">
        <%= yield %>
      </div>

      <div class="clear"></div>
    </div>
    
    <div id="user-dashboard">
	  <h3>User Options</h3>
	  <div class="col1">
        <ul>
          <li><%= link_to "Libraries (home)", libraries_path %></li>
		  <% if user_signed_in? && !current_user.try(:admin?) %>
            <li><%= link_to "My Reservation", reservations_path %></li>
          <% end %>	
		</ul>
	  </div>
	  <% if current_user.try(:admin?) %>	
        <div class="col2">
          <ul>
  	        <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "User Types", user_types_path %></li>
          </ul>
        </div>    
        <div class="col3">
          <ul>
			<li><%= link_to "Subject Areas", subject_areas_path %></li>
			<li><%= link_to "Call Numbers", call_numbers_path %></li>
          </ul>
        </div>
  		<div class="col4">
       	  <ul>
            <li><%= link_to "Reports", reports_path %></li>
            <li><%= link_to "Reservable Assets", reservable_asset_types_path %></li>
            <li><%= link_to "Reservation Notices", reservation_notices_path %></li>
          </ul>
    	</div>	    
      <% end %>
    </div>	

    <div id="footer">
    <p>© 2011 President and Fellows of Harvard College<br>
      <a href="http://www.harvard.edu/siteguide/privacy.php" target="_blank">Privacy Statement</a> •  
      <a href="http://www.harvard.edu/siteguide/copyright.php" target="_blank">Reporting Copyright Infringements</a> • <a href="http://www.trademark.harvard.edu/trademark_protection/notice.php" target="_blank">Trademark Notice</a></p>
    </div>

  </body>
</html>
